{% extends "base/base.html" %} {% block main_content %}

<div class="top-btns">
  <div class="empty-top-left-btn">EMPTY-TOP-LEFT-BTN</div>
  <div class="action-top-right-btn">
    <a href="{% url 'warranties-list' %}">Back</a>
  </div>
</div>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'base/partials/form-errors.html' %}

  <div class="create-form-inputs">
    {% include 'base/partials/create-input-field.html' with f_title='Item name' f_type='text' f_id='id_item_name' f_name='item_name' f_placeholder=form.item_name.help_text f_value=form.item_name.value %}
    {% include 'base/partials/create-input-field.html' with f_title='Purchase date' f_type='date' f_id='id_purchase_date' f_name='purchase_date' f_value=form.purchase_date.value %}
    {% include 'base/partials/create-input-field.html' with f_title='Period' f_type='select' f_id='id_period' f_name='period' f_options=form.fields.period.choices f_value=form.period.value %}
    {% include 'base/partials/create-input-field.html' with f_title='Description' f_type='text' f_id='id_description' f_name='description' f_placeholder=form.description.help_text f_value=form.description.value %}
    {% include 'base/partials/create-input-field.html' with f_title='Price' f_type='number' f_id='id_price' f_name='price' f_placeholder=form.price.help_text f_value=form.price.value %}
    {% include 'base/partials/create-input-field.html' with f_title='Invoice image' f_type='file' f_id='id_invoice_img' f_name='invoice_img' f_placeholder=form.invoice_img.help_text %}
    {% include 'base/partials/create-input-field.html' with f_title='Supplier' f_type='select' f_id='id_supplier' f_name='supplier' f_options=form.fields.supplier.choices f_value=form.supplier.value %}
  </div>

  <div class="bottom-btns">
    <div class="empty-bottom-left-btn">EMPTY-BOTTOM-LEFT-BTN</div>
    <div class="action-bottom-right-btn">
        <button type="submit" class="reset-button-style">Save</button>
    </div>
  </div>
</form>
</form>

{% endblock %}