{% extends "base/base.html" %} {% block main_content %}

<div class="top-btns">
  <div class="action-top-left-btn">
    {% if object.invoice_img %}
    <a href="{{ object.invoice_img.url }}" download>Download</a>
    {% endif %}
  </div>
  <div class="action-top-right-btn">
    <a href="{% url 'warranties-list' %}">Back</a>
  </div>
</div> 


<div class="warranty-details-container">
  {% if object.invoice_is_image %}
  <img class="invoice_img" src="{{ object.invoice_img.url }}" alt="{{ object.item_name }}" />
  {% elif object.invoice_is_pdf %}
  <a class="invoice-preview" href="{{ object.invoice_img.url }}" target="_blank" rel="noopener" title="Open invoice PDF in a new tab">
    <object data="{{ object.invoice_img.url }}#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;view=FitH" type="application/pdf">
      <span class="invoice-file-fallback">📄 Open invoice (PDF)</span>
    </object>
  </a>
  {% elif object.invoice_img %}
  <a class="invoice-file-fallback" href="{{ object.invoice_img.url }}" target="_blank" rel="noopener">📄 Open invoice</a>
  {% endif %}

  <table class="warranty-details-table">
    {% include 'base/partials/details-field.html' with supplier=object p_title='Item name' value=object.item_name %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Purchase date' value=object.purchase_date|date:"d/m/Y" %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Period' value=object.period %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Description' value=object.description %}
    <tr>
      <td class="left">Price</td>
      <td class="right">{% if object.price != None %}{{ CURRENCY }}{{ object.price|floatformat:2 }}{% else %}Not set{% endif %}</td>
    </tr>
    {% include 'base/partials/details-field.html' with supplier=object p_title='Expiration date' value=object.warranty_expiration_date|date:"d/m/Y" %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='invoice image' value=object.invoice_img %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Supplier' value=object.supplier %}
  </table>
</div>

<div class="bottom-btns">
  <div class="action-bottom-left-btn">
    <a href="{% url 'warranty-delete' pk=object.pk %}">Delete</a>
  </div>
  <div class="action-bottom-right-btn">
    <a href="{% url 'warranty-update' pk=object.pk %}">Edit</a>
  </div>
</div>

{% endblock %}