{% extends "base/base.html" %} {% block main_content %}

<div class="top-btns">
  <div class="empty-top-left-btn">EMPTY-TOP-LEFT-BTN</div>
  <div class="action-top-right-btn">
    <a href="{% url 'warranties-list' %}">Back</a>
  </div>
</div> 


<div class="warranty-details-container">
  {% comment %} {% if object.invoice_img %}
  <img class="invoice_img" src="{{ object.invoice_img.url }}" alt="{{ warranty.name }}" />
  {% endif%} {% endcomment %}

  <table class="warranty-details-table">
    {% include 'base/partials/details-field.html' with supplier=object p_title='Item name' value=object.item_name %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Purchase date' value=object.purchase_date|date:"d/m/Y" %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Period' value=object.period %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Description' value=object.description %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='invoice image' value=object.invoice_img %}
    {% include 'base/partials/details-field.html' with supplier=object p_title='Supplier' value=object.supplier %}
  </table>
</div>

<div class="bottom-btns">
  <div class="action-bottom-left-btn">
    <a href="{% url 'warranty-delete' pk=object.pk %}">Delete</a>
  </div>
  <div class="action-bottom-right-btn">
    <a href="{% url 'warranty-update' pk=object.pk %}">Edit</a>
  </div>
</div>

{% endblock %}