{% extends "base/base.html" %} {% block main_content %}

<div class="top-btns">
  <div class="empty-top-left-btn">EMPTY-TOP-LEFT-BTN</div>
  <div class="empty-top-right-btn">EMPTY-TOP-RIGHT-BTN</div>
</div>

{% if object_list%}

<div class="warranties">
  <table>
    <tr>
      <th>Item</th>
      <th>Purchase date</th>
      <th>Period</th>
      <th>Supplier</th>
    </tr>

    {% for warranty in object_list%}
    <tr>
      <td>
        <a href="{% url 'warranty-details' pk=warranty.pk %}">{{warranty.item_name}}</a>
      </td>
      <td>{{warranty.purchase_date}}</td>
      <td>{{warranty.period}}</td>
      <td>{{warranty.supplier}}</td>
    </tr>
    {%endfor%}
  </table>
</div>
{%else%}
<div class="no-items">NO WARRANTIES YET!</div>
{%endif%}

<div class="bottom-btns">
  <div class="empty-bottom-left-btn">EMPTY-BOTTOM-LEFT-BTN</div>
  <div class="action-bottom-right-btn">
    <a href="{% url 'warranty-create' %}">Create Warranty</a>
  </div>
</div>

{% endblock %}
