{% extends 'base/base.html' %} {% load static %} {% block main_content %}

<div class="top-btns">
  <div class="empty-top-left-btn">EMPTY-TOP-LEFT-BTN</div>
  <div class="empty-top-right-btn">EMPTY-TOP-RIGHT-BTN</div>
</div>

<div class="supplier-list">
  {% for supplier in object_list %} 
  {% include 'suppliers/partials/supplier-card.html' with supplier=supplier%}
   {%empty%}
  <div class="no-items">NO SUPPLIERS YET!</div>
  {%endfor%}
</div>

<div class="bottom-btns">
  <div class="empty-bottom-left-btn">EMPTY-BOTTOM-LEFT-BTN</div>
  <div class="action-bottom-right-btn">
    <a href="{% url 'supplier-create' %}">Create Supplier</a>
  </div>
</div>

{% endblock %}
