{% extends "base/base.html" %} {% block main_content %}

<div class="top-btns">
  <div class="empty-top-left-btn">EMPTY-TOP-LEFT-BTN</div>
  <div class="action-top-right-btn">
    <a href="{% url 'supplier-details' pk=object.pk %}">Back</a>
  </div>
</div>

<form action="{% url 'supplier-update' pk=object.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% comment %} {{ form }} {% endcomment %}

  <div class="create-form-inputs">
    {% include 'base/partials/update-input-field.html' with f_title='Supplier name' f_type='text' f_id='id_name' f_name='name' f_value=form.name.value %}
    {% include 'base/partials/update-input-field.html' with f_title='Logo' f_type='file' f_id='id_logo' f_name='logo' f_value=form.logo.value %}
    {% include 'base/partials/update-input-field.html' with f_title='Email' f_type='email' f_id='id_email' f_name='email' f_value=form.email.value %}
    {% include 'base/partials/update-input-field.html' with f_title='Phone number' f_type='text' f_id='id_phone_number' f_name='phone_number' f_value=form.phone_number.value %}
    {% include 'base/partials/update-input-field.html' with f_title='Website' f_type='text' f_id='id_website' f_name='website' f_value=form.website.value %}
  </div>

  <div class="bottom-btns">
    <div class="empty-bottom-left-btn">EMPTY-BOTTOM-LEFT-BTN</div>
    <div class="action-bottom-right-btn">
        <button type="submit" class="reset-button-style">Update</button>
    </div>
  </div>
</form>

{% endblock %}
