/* -------------------------------------- 
General button reset for uniform styling
---------------------------------------- */
button {
  background: var(--white-color);
  color: var(--black-color);
  font-size: 1em;
  border: none;
  cursor: pointer; /* Ensure it looks clickable */
  padding: 0;
  margin: 0;
}

/* ---------------------------
        Action Buttons
----------------------------*/
.top-btns,
.bottom-btns {
  display: flex;
  justify-content: space-between;
}

.action-top-right-btn,
.action-bottom-right-btn,
.action-bottom-left-btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: end;
  background-color: var(--black-color);
}

.action-top-right-btn a,
.action-top-right-btn button,
.action-bottom-right-btn button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white-color);
  border-radius: 0 0 0 40px;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
}

.action-bottom-right-btn a,
.action-bottom-left-btn a,
.action-bottom-right-btn button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
}

.action-bottom-left-btn a {
  border-radius: 0 40px 0 0;
}

.action-bottom-right-btn a,
.action-bottom-right-btn button {
  border-radius: 40px 0 0 0;
}

.action-top-right-btn a:hover,
.action-bottom-right-btn a:hover,
.action-bottom-left-btn a:hover,
.action-top-right-btn button:hover,
.action-bottom-right-btn button:hover {
  color: var(--orange-color);
  font-weight: 700;
}

/* ---------------------------
      Empty Buttons
----------------------------*/
.empty-top-left-btn,
.empty-top-right-btn,
.empty-bottom-left-btn,
.empty-bottom-right-btn {
  width: 200px;
  height: 40px;
  background-color: var(--white-color);
  overflow: hidden;
}

.empty-top-left-btn {
  border-radius: 0 0 40px 0;
}

.empty-top-right-btn {
  border-radius: 0 0 0 40px;
}

.empty-bottom-left-btn {
  border-radius: 0 40px 0 0;
}

.empty-bottom-right-btn {
  border-radius: 40px 0 0 0;
}
