:root {
  --black-color: #2e3440;
  --green-color: #a3be8c;
  --white-color: #d8dee9;
  --grey-color: #373d49;
  --blue-color: #81a1c1;
  --red-color: #bf616a;
  --yellow-color: #ebcb8b;
  --purple-color: #b48ead;
  --orange-color: #f7931a;
  --darkblue-color: #7292b2;
}
