.footer {
  height: 40px;
  text-align: center;
  background: var(--gray1-color);
  color: var(--white-color);
  display: flex;
  justify-content: end;
}

.footer-section {
  border-radius: 40px 0 0 0;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 500;
  padding: 0px 20px;
}
