header {
  display: flex;
  align-items: center;
  background: var(--black-color);
  height: 36px;
}

nav {
  height: 100%;
  background-color: var(--white-color);
  border-radius: 0 0 40px 0 ;
  padding: 0 20px;
}

.nav-links-menu {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-item,
.link-item-link {
  font-weight: 500;
  color: var(--black-color);
  text-decoration: none;
}

.nav-links-menu li {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}

.link-item-link:hover {
  color: var(--orange-color);
}
