@import "colors.css";
@import "nav.css";
@import "footer.css";
@import "suppliers.css";
@import "supplier-card.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--black-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--white-color);
}
