@import "colors.css";
@import "buttons.css";
@import "nav.css";
@import "footer.css";
@import "dashboard.css";
@import "suppliers-list.css";
@import "supplier-card.css";
@import "supplier-details.css";
@import "supplier-update.css";
@import "warranties-list.css";
@import "warranty-details.css";
@import "warranty-create.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--black-color);
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 4px solid var(--white-color);
  border-top: 4px solid var(--white-color);
}

.content {
  flex: 1;
  margin: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 4px solid var(--white-color);
  border-right: 4px solid var(--white-color);
}
