/* ---------------------------
      Suppliers list
----------------------------*/

.supplier-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  padding: 40px;
  justify-content: space-between;
}

.no-items {
  font-size: 2em;
  margin: auto;
}