/* ---------------------------
      Suppliers details
----------------------------*/

.supplier-details-container {
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  border-radius: 40px 0 40px 0;
  margin: 40px;
  max-width: 100%;
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.supplier-details-container .logo {
  padding: 5px;
  max-width: 100%;
  height: auto;
  display: block;
}

.supplier-details-table {
  /* width: 40%; */
  font-size: 1.2em;
  color: var(--black-color);
  font-weight: 700;
}

.supplier-details-table td {
  width: 50%;
}

.supplier-details-table .left {
  text-align: end;
  padding-right: 10px;
  border: none;
}

.supplier-details-table .right {
  border: none;
}
