.warranties {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid var(--white-color);
  padding: 40px;
  border-radius: 40px 0 40px 0;
  background-color: var(--white-color);
}

.warranties-table {
  width: 100%;
  color: var(--black-color);
  border-collapse: separate; /* Use 'separate' to enable border-radius */
  border-spacing: 0; /* Ensures the borders touch */
  border: 2px solid var(--black-color); /* Outer border */
  border-radius: 30px 0 30px 0; /* Applies to the entire table */
  overflow: hidden; /* Ensures the rounded corners are visible */
}


table th,
table td {
  border: 1px solid var(--black-color);
  height: 20px;
  padding-left: 20px;
}

table td a {
  text-decoration: none;
}

table td:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  transition: background 0.3s;
  /* Shake animation */
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Shake animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
