<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">{{ f_title }}</span>

    {% if f_type == "select" %}
    <select id="{{ f_id }}" name="{{ f_name }}" class="form-select" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        {% for option in f_options %}
        <option value="{{ option.0 }}" {% if option.0|stringformat:'s' == f_value|stringformat:'s' %}selected{% endif %}>
            {{ option.1 }}
        </option>
        {% endfor %}
    </select>
    {% else %}
    <input type="{{ f_type }}" id="{{ f_id }}" name="{{ f_name }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="{{ f_placeholder }}"{% if f_type != "file" and f_value is not None %} value="{{ f_value|default:'' }}"{% endif %}>
    {% endif %}
</div>